* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("./img/todd-quackenbush-x5SRhkFajrA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    text-transform: uppercase;
    text-align: center;
    margin: 30px;
    color: #fff;
}

hr {
    width: 100%;
}

a {
    font-size: 30px;
    color: #fff;
}

.recipe {
    margin: 10px;
}

#container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 300px) {
    body {
        height: 100vh;
    }   
}