* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("./img/todd-quackenbush-x5SRhkFajrA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    text-transform: uppercase;
    text-align: center;
    margin: 30px;
    color: #fff;
}

hr {
    width: 100%;
}

.recipes {
    font-size: 25px;
}